Build/CompileLibs/CMakeLists.txt
*.suo
CMakeBuild
*.opendb
*.sdf
*.obj
*.tlog
*.iobj
*.bak
*.exe
*.pdb
*.user
*.log
*.tlog/
*.pdb
*Release/
*Debug/
*.ipch
*.user
*.vspx
*.VC.db
RepoLoadUtils/maccabi_etl/condor_plot_signals.txt
RepoLoadUtils/thin_etl/condor_fix_signals.txt
~$*
condor_runner_*
/.vs/config/applicationhost.config
bootstrap_app/.vs/config/applicationhost.config
.vs/
*.pyc
venv
InPatientLoaders/.idea/misc.xml
InPatientLoaders/.idea/InPatientLoaders.iml
InPatientLoaders/.idea/modules.xml
RepoLoadUtils/SQLTools/.idea/misc.xml
RepoLoadUtils/SQLTools/.idea/modules.xml
RepoLoadUtils/SQLTools/.idea/SQLTools.iml
DictUtils/rambam_codes/.idea/misc.xml
DictUtils/rambam_codes/.idea/modules.xml
DictUtils/rambam_codes/.idea/inspectionProfiles/Project_Default.xml
DictUtils/rambam_codes/.idea/dictionaries/tamard.xml
DictUtils/rambam_codes/.idea/workspace.xml
DictUtils/rambam_codes/.idea/rambam_codes.iml
RepoLoadUtils/thin1801/.idea/thin1801.iml
RepoLoadUtils/thin1801/.idea/modules.xml
RepoLoadUtils/common/.idea/misc.xml
RepoLoadUtils/common/.idea/common.iml
RepoLoadUtils/common/.idea/modules.xml
RepoLoadUtils/maccabi_etl/.idea/modules.xml
RepoLoadUtils/maccabi_etl/.idea/workspace.xml
RepoLoadUtils/thin19_etl/.idea/workspace.xml
DictUtils/Ontologies/ICD10/2019-ICD-10-CM/NCHS_Package_20180605/
RepoLoadUtils/Mayo_etl/.idea/misc.xml
RepoLoadUtils/KPNW_etl/Drug/output4.run
RepoLoadUtils/KPNW_etl/Drug/match_result4.txt
RepoLoadUtils/KPNW_etl/flu_3_by_month_all.jpg
RepoLoadUtils/KPNW_etl/flu_1&2_by_month_all.jpg
.idea
__pycache__
DictUtils/Ontologies/ICD10/2019_ICD-10-PCS_Codes_File.zip
RepoLoadUtils/trinetx2022_etl/mergedDrug.1
RepoLoadUtils/MayoAS_etl/questions.txt
RepoLoadUtils/trinetx2022_etl/lab_tests1_sorted.csv
*/bw-output
*/.scannerwork
build/
documentation/db/*/*.bin
*.pickle
*.sqlite3
!AlgoMarker_python_API/ServerHandler/CMakeLists.txt